
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.landing-pagemoblie-view-8n7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 84.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f {
  margin-right: 6.7rem;
  width: 49.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm {
  box-sizing: border-box;
  padding: 0rem 4.458rem 3rem 4.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy {
  margin-bottom: 1.3043rem;
  width: 100%;
  height: 45.5957rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-34-Ro9 {
  width: 37.5rem;
  height: 41.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b6eec4;
  border-radius: 3rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .peritia-endeavors-to-support-the-growth-and-improvement-of-diverse-skills-in-its-users-through-the-provision-of-activities-that-demand-particular-expertise-or-knowledge-it-aims-to-inspire-individuals-to-acquire-fresh-skills-enhance-existing-ones-and-accumulate-valuable-experience-DcX {
  width: 27.5rem;
  height: 17.5rem;
  position: absolute;
  left: 1.8rem;
  top: 12.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .item-71407393516835-2-98o {
  width: 22.0017rem;
  height: 21.4567rem;
  position: absolute;
  left: 17.1402rem;
  top: 24.139rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-39-dJs {
  width: 11.5rem;
  height: 3.8rem;
  position: absolute;
  left: 2.2rem;
  top: 32.1rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.150000006);
  background-color: #51fa7b;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-35-i5R {
  width: 40.1rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .ellipse-19-rSX {
  width: 3.7rem;
  height: 3.8rem;
  position: absolute;
  left: 1.7rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-36-nqy {
  width: 1.6rem;
  height: 0.3rem;
  position: absolute;
  left: 2.8rem;
  top: 1.8rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-37-iUj {
  width: 1.6rem;
  height: 0.2rem;
  position: absolute;
  left: 2.8rem;
  top: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .rectangle-38-r59 {
  width: 1.6rem;
  height: 0.3rem;
  position: absolute;
  left: 2.8rem;
  top: 3.2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .peritia-logo-icon-1-2-BNK {
  width: 1.9rem;
  height: 2.2rem;
  position: absolute;
  left: 33.4rem;
  top: 1.4rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .auto-group-s97h-XBy .get-started-Vto {
  width: 9.3rem;
  height: 2rem;
  position: absolute;
  left: 3.5rem;
  top: 33.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .our-services-bB9 {
  margin: 0rem 0.242rem 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-h5et-omm .our-aim-is-to-provide-services-that-allow-user-to-discover-their-hidden-potential-gyH {
  margin-right: 0.3419rem;
  max-width: 27rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf {
  width: 100%;
  height: 28.2rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .ellipse-20-t3m {
  width: 13.1rem;
  height: 13.4rem;
  position: absolute;
  left: 30.5rem;
  top: 9.2rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .ellipse-21-1PH {
  width: 13.1rem;
  height: 13.4rem;
  position: absolute;
  left: 12.2rem;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .ellipse-22-Y8K {
  width: 13.1rem;
  height: 13.4rem;
  position: absolute;
  left: 0;
  top: 9.2rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .rectangle-44-HLo {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 12.5rem;
  top: 15.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .item-194668106134223-1-mmm {
  width: 9.5241rem;
  height: 8.4652rem;
  position: absolute;
  left: 13.988rem;
  top: 17.0438rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .rectangle-45-gNw {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 20.4rem;
  top: 0.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .item-91480184086495-1-ycw {
  width: 10.043rem;
  height: 8.5222rem;
  position: absolute;
  left: 21.7704rem;
  top: 0.0494rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .e-book-store-HNj {
  width: 8.9rem;
  height: 1.7rem;
  position: absolute;
  left: 22.5rem;
  top: 9.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .rectangle-46-nKV {
  width: 12.6rem;
  height: 12.8rem;
  position: absolute;
  left: 4.8rem;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .item-229088866736637-1-65H {
  width: 9.7944rem;
  height: 8.1861rem;
  position: absolute;
  left: 6.6528rem;
  top: 1.0022rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .auto-group-zc6f-66f .auto-group-hfmm-ANf .skill-acquisition-cJX {
  width: 11.4rem;
  height: 1.7rem;
  position: absolute;
  left: 5.5rem;
  top: 9.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-qswq-yXq .ellipse-17-hqm {
  margin-bottom: 3.2rem;
  width: 34.2rem;
  height: 35.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .bazaar-SYT {
  margin: 0rem 0rem 0.9rem 0.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .learning-and-skill-development-enhance-life-while-marketplaces-connect-buyers-and-sellers-publishers-thrive-with-peritias-platform-Ltj {
  margin: 0rem 0rem 2.5rem 1.4rem;
  max-width: 29.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 {
  box-sizing: border-box;
  padding: 2.2rem 2.5rem 1.9rem 2.35rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #b6eec4;
  border-radius: 4.2rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .explore-our-digital-skills-Jj5 {
  margin: 0rem 0rem 1.7rem 0.25rem;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd {
  margin: 0rem 2.45rem 0.032rem 0rem;
  height: 16.668rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-8ggk-j3h {
  margin: 4.6rem 2.619rem 3.068rem 0rem;
  height: calc(100% - 7.668rem);
  row-gap: 0.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-8ggk-j3h .ellipse-17-3KH {
  margin-left: 2rem;
  width: 5rem;
  height: 5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-17-bg-mBZ.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-8ggk-j3h .web-development-97R {
  margin-left: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-8ggk-j3h .you-will-learn-web-development-from-the-best-tutor-f5m {
  margin-right: 1.2rem;
  max-width: 7.7rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .item-337566868106646-2-ZB9 {
  margin: 6.839rem 0.972rem 0rem 0rem;
  width: 9.8097rem;
  height: 9.8288rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-4x99-GbM {
  margin-bottom: 9.068rem;
  width: 8.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-4x99-GbM .auto-group-vs1d-1J3 {
  margin: 0rem 1.85rem 0rem 1.25rem;
  width: calc(100% - 3.1rem);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-4x99-GbM .auto-group-vs1d-1J3 .ellipse-18-LbD {
  width: 100%;
  height: 5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-18-bg.png');
  border-radius: 2.5rem;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-4x99-GbM .graphics-ebu {
  margin: 0rem 0rem 0.1rem 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-w5sj-pBd .auto-group-4x99-GbM .you-will-learn-how-to-design-like-a-pro-mAj {
  max-width: 8.1rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu {
  margin: 0rem 2.5rem 0.1rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-nwvb-o7R {
  margin: 0rem 3.65rem 0.2rem 0rem;
  width: 10.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-nwvb-o7R .ellipse-17-vSw {
  margin: 0rem 2.25rem 0.4rem 3.05rem;
  width: calc(100% - 5.3rem);
  height: 5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-17-bg-779.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-nwvb-o7R .youtube-monetization-2F5 {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-nwvb-o7R .you-will-learn-web-development-from-the-best-tutor-9ab {
  margin-right: 1.4rem;
  max-width: 7.9rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .ellipse-17-rju {
  margin-right: 2.8rem;
  width: 5rem;
  height: 5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-17-bg-2LT.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-vufd-xnw {
  margin-bottom: 0.3rem;
  width: 9.2rem;
  row-gap: 0.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-vufd-xnw .ellipse-17-6PM {
  margin: 0 2.1rem;
  width: calc(100% - 4.2rem);
  height: 5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-17-bg.png');
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-vufd-xnw .application-dev-c6o {
  margin-right: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-egjm-fmu .auto-group-vufd-xnw .you-will-get-to-learn-how-to-design-mobile-app-both-android-and-ios-ivX {
  max-width: 9.2rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .mini-importation-RK9 {
  margin: 0rem 1.35rem 0.1rem 0rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 {
  margin-left: 12.15rem;
  width: calc(100% - 12.15rem);
  height: 1.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 .you-will-learn-how-to-do-mini-importation-from-an-expert-UHR {
  max-width: 8.1rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 .auto-group-zzmy-o4o {
  box-sizing: border-box;
  padding: 0.7rem 0rem 0rem 9.6rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 .auto-group-zzmy-o4o .ellipse-23-7bH {
  margin-right: 0.7rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 .auto-group-zzmy-o4o .ellipse-24-FBh {
  margin-right: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-vfej-Ps1 .auto-group-ejlf-LS7 .auto-group-zzmy-o4o .ellipse-25-mfq {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j {
  box-sizing: border-box;
  padding: 0rem 1.95rem 3.813rem 1.45rem;
  width: 100%;
  height: 62.6834rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-1-uQf {
  margin: 0rem 7.984rem 15.4rem 8.05rem;
  box-sizing: border-box;
  padding-top: 4.7606rem;
  width: calc(100% - 16.034rem);
  display: flex;
  flex-direction: column;
  border-top: solid 0.3rem #f5f5f5;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-1-uQf .line-15-pGj {
  margin: 0rem 0rem 7.539rem 0.012rem;
  width: 5.3762rem;
  height: 0.3rem;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-1-uQf .auto-group-sqm1-wMM {
  margin-right: 0rem;
  box-sizing: border-box;
  padding: 0.1rem 0rem 0rem 8.9rem;
  width: calc(100% - 0rem);
  display: flex;
  align-items: flex-start;
  border-top: solid 0.3rem #f5f5f5;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-1-uQf .auto-group-sqm1-wMM .line-16-f2T {
  margin: 0.1rem 4.2rem 0rem 0rem;
  width: 0.3rem;
  height: 4.7rem;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-1-uQf .auto-group-sqm1-wMM .line-14-z4j {
  width: 4.666rem;
  height: 0.3rem;
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .why-peritia-is-the-best-hjq {
  margin: 0rem 0.7rem 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .peritia-was-established-with-a-singular-objective-to-facilitate-individuals-in-acquiring-digital-skills-and-effectively-market-their-products-and-services-to-consumers-DCP {
  margin-bottom: 2.2rem;
  max-width: 34.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io {
  margin: 0rem 3.65rem 3.8rem 4.45rem;
  box-sizing: border-box;
  padding: 4.343rem 0.967rem 0.8rem 0.8rem;
  width: calc(100% - 8.1rem);
  display: flex;
  align-items: flex-end;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .polygon-6-9kF {
  margin: 0rem 0.3rem 0.3rem 0rem;
  width: 0.9rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .auto-group-umzs-5P1 {
  margin: 0rem 0.15rem 0.3rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .auto-group-umzs-5P1 .auto-group-rtpb-1XZ {
  margin: 0rem 2.894rem 5.03rem 0rem;
  width: 2.9478rem;
  height: 3.7267rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .auto-group-umzs-5P1 .auto-group-e2a7-Y1h {
  width: 15.4rem;
  height: 0.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .item-00-00-51d {
  margin: 0rem 0.25rem 0.1rem 0rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.2125;
  text-transform: uppercase;
  color: #fbfbfb;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .ellipse-18-NmR {
  margin-bottom: 0.4rem;
  width: 0.4rem;
  height: 0.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .rectangle-35-vY3 {
  margin: 0rem 0.9rem 0.5rem 0rem;
  width: 1.3rem;
  height: 0.3rem;
  background-color: #ff0000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .auto-group-kxcf-T2B {
  margin-right: 0.3667rem;
  width: 1.2rem;
  height: 1.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .component-2-4io .enlarge-svgrepo-com-3-Bym {
  margin-bottom: 0.4167rem;
  width: 0.5667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .faq-VzT {
  margin: 0rem 0rem 1.2rem 0.5rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .we-are-aware-that-you-may-have-inquiries-youd-like-to-pose-to-us-here-youll-find-a-compilation-of-commonly-asked-questions-p19 {
  margin: 0rem 0rem 7rem 1.6rem;
  max-width: 28.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw {
  margin: 0rem 2.35rem 0rem 3.55rem;
  width: calc(100% - 5.9rem);
  height: 9.5703rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .rectangle-34-Nwm {
  width: 9.8rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .rectangle-35-uwh {
  width: 18.7rem;
  height: 9.4rem;
  position: absolute;
  left: 9.5rem;
  top: 0;
  background-color: #b6eec4;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .how-do-i-register-as-a-user-on-peritia-FVm {
  width: 14.8rem;
  height: 1rem;
  position: absolute;
  left: 10.8rem;
  top: 1.1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .you-can-join-by-completing-the-sign-up-process-on-our-website-and-youll-be-on-the-path-to-mastering-one-or-more-skill-sets-of-your-preference-M31 {
  width: 16.9rem;
  height: 3.9rem;
  position: absolute;
  left: 10.8rem;
  top: 3rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .flag-for-flag-nigeria-svgrepo-com-2-bi3 {
  width: 3.3332rem;
  height: 2.4074rem;
  position: absolute;
  left: 7.8rem;
  top: 7.1629rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-3awd-o6j .auto-group-aayh-GNw .chijioke-adegoke-inf {
  width: 5rem;
  height: 0.8rem;
  position: absolute;
  left: 22.4rem;
  top: 8rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws {
  width: 100%;
  height: 39.4086rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .line-17-jSs {
  width: 40.4063rem;
  height: 25.0473rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .line-18-gN7 {
  width: 41.4076rem;
  height: 25.592rem;
  position: absolute;
  left: 0;
  top: 4.3166rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .line-19-cWf {
  width: 41.4076rem;
  height: 25.592rem;
  position: absolute;
  left: 0;
  top: 9.4166rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .line-20-xaX {
  width: 41.4076rem;
  height: 25.592rem;
  position: absolute;
  left: 0;
  top: 13.8166rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .rectangle-35-ho1 {
  width: 18.7rem;
  height: 9.4rem;
  position: absolute;
  left: 14.5rem;
  top: 4.1166rem;
  background-color: #b6eec4;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .rectangle-34-Enw {
  width: 9.8rem;
  height: 9.4rem;
  position: absolute;
  left: 5rem;
  top: 4.4166rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .flag-for-flag-ghana-svgrepo-com-2-aM1 {
  width: 3.333rem;
  height: 2.4071rem;
  position: absolute;
  left: 13.5rem;
  top: 11.7795rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .coupon-codes-are-essential-during-the-registration-process-to-activate-accounts-on-peritia-granting-users-access-to-all-functionalities-available-on-the-website-6KM {
  width: 15.7rem;
  height: 3.9rem;
  position: absolute;
  left: 15.9rem;
  top: 7.1166rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .what-are-coupon-code-used-for-LUb {
  width: 12.8rem;
  height: 1rem;
  position: absolute;
  left: 15.9rem;
  top: 5.5166rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .kwame-adu-boateng-puZ {
  width: 5.9rem;
  height: 0.8rem;
  position: absolute;
  left: 26.6rem;
  top: 12.2166rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .rectangle-35-vxb {
  width: 18.6rem;
  height: 9.4rem;
  position: absolute;
  left: 14.5rem;
  top: 22.5166rem;
  background-color: #b6eec4;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .rectangle-34-TxX {
  width: 9.1rem;
  height: 9.4rem;
  position: absolute;
  left: 5.4rem;
  top: 22.2166rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .what-type-of-skills-are-available-PrB {
  width: 13rem;
  height: 1rem;
  position: absolute;
  left: 15.7rem;
  top: 23.2166rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .on-peritia-we-currently-offer-a-variety-of-10-active-skills-covering-a-range-from-website-development-and-graphics-design-to-ui-ux-design-and-much-more-you-can-explore-additional-details-on-your-user-dashboard-account-where-the-available-skill-sets-are-displayed-HRm {
  width: 16rem;
  height: 6.8rem;
  position: absolute;
  left: 15.8rem;
  top: 24.5166rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .mireille-ngong-H4P {
  width: 4.1rem;
  height: 0.8rem;
  position: absolute;
  left: 27.7rem;
  top: 30.9166rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-gw2k-1Ws .flag-for-flag-cameroon-svgrepo-com-2-o2j {
  width: 3.333rem;
  height: 2.4072rem;
  position: absolute;
  left: 12.8rem;
  top: 30.3795rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m {
  box-sizing: border-box;
  padding: 2.241rem 2.85rem 5.2rem 2.95rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy {
  margin: 0rem 1.55rem 8.4rem 2.85rem;
  width: calc(100% - 4.4rem);
  height: 10.633rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .rectangle-34-j4o {
  width: 9.1rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .rectangle-35-4sm {
  width: 18.6rem;
  height: 9.4rem;
  position: absolute;
  left: 8.7rem;
  top: 0.1rem;
  background-color: #b6eec4;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .what-steps-should-i-take-to-be-eligible-for-skills-courses-BxP {
  width: 15rem;
  height: 2rem;
  position: absolute;
  left: 10rem;
  top: 1.4rem;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .given-the-high-costs-associated-with-acquiring-skills-on-different-platforms-weve-reduced-it-to-a-single-payment-of-5-tbu {
  width: 15.1rem;
  height: 3.9rem;
  position: absolute;
  left: 9.9rem;
  top: 3.9rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .south-africa-svgrepo-com-2-wq5 {
  width: 3.333rem;
  height: 2.1837rem;
  position: absolute;
  left: 7rem;
  top: 7.8747rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-12-cVy .thabo-ndlovu-4uh {
  width: 4rem;
  height: 0.8rem;
  position: absolute;
  left: 22rem;
  top: 8.1rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj {
  margin: 0rem 1.05rem 5.03rem 2.55rem;
  width: calc(100% - 3.6rem);
  height: 9.8041rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .rectangle-34-5po {
  width: 9.8rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .rectangle-35-2k3 {
  width: 18.7rem;
  height: 9.4rem;
  position: absolute;
  left: 9.4rem;
  top: 0.034rem;
  background-color: #b6eec4;
  border-radius: 1.2rem;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .is-it-possible-for-me-to-release-and-market-an-ebook-on-peritia-ZV5 {
  width: 13.6rem;
  height: 2rem;
  position: absolute;
  left: 10.5rem;
  top: 0.534rem;
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .absolutely-each-peritia-user-has-the-opportunity-to-freely-publish-their-own-e-book-on-our-platform-F71 {
  width: 14.5rem;
  height: 3rem;
  position: absolute;
  left: 10.4rem;
  top: 3.234rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .flag-for-flag-kenya-svgrepo-com-2-iWP {
  width: 3.333rem;
  height: 2.4072rem;
  position: absolute;
  left: 8.1rem;
  top: 7.3969rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .auto-group-fhvj-Axj .safari-nyambura-3Hm {
  width: 4.8rem;
  height: 0.8rem;
  position: absolute;
  left: 22.3rem;
  top: 8.034rem;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .connect-with-us-9Lo {
  margin: 0rem 0.8rem 1.2rem 0rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .feel-free-to-contact-us-through-any-of-the-following-channels-for-quick-and-convenient-assistance-whether-you-prefer-email-phone-calls-or-social-media-we-are-readily-accessible-to-address-your-inquiries-and-provide-support-rm1 {
  margin-bottom: 1.8rem;
  max-width: 31.7rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK {
  margin: 0rem 4.75rem 9.8rem 4.65rem;
  width: calc(100% - 9.4rem);
  height: 31rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .rectangle-34-CiP {
  width: 22.3rem;
  height: 28.2rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
  border: solid 0.3rem #0c3436;
  box-sizing: border-box;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .ellipse-17-86F {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 8.2rem;
  top: 0;
  border: solid 0.3rem #0c3436;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.8rem;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .vector-doh {
  width: 3rem;
  height: 2.6rem;
  position: absolute;
  left: 9.5rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .you-can-connect-us-by-messaging-us-on-our-social-media-muu {
  width: 14.8rem;
  height: 8.8rem;
  position: absolute;
  left: 3.8rem;
  top: 7.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .you-can-connect-us-by-messaging-us-on-our-social-media-muu .you-can-connect-us-by-messaging-us-on-our-social-media-muu-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .you-can-connect-us-by-messaging-us-on-our-social-media-muu .you-can-connect-us-by-messaging-us-on-our-social-media-muu-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .facebook-svgrepo-com-3-DYw {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.6rem;
  top: 15.9rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .peritiaofficial-wjq {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 7.9rem;
  top: 16.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .peritiaofficial-4Jf {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 7.9rem;
  top: 18.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .peritiaofficial-AsV {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 7.9rem;
  top: 21.8rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .peritiaofficial-6FM {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 7.9rem;
  top: 24.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .peritiaofficial-cDh {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 7.9rem;
  top: 26.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .youtube-svgrepo-com-3-Kto {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.7rem;
  top: 18.7rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .vector-FnT {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 3.8rem;
  top: 21.4rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .telegram-communication-chat-interaction-network-connection-svgrepo-com-3-CBu {
  width: 1.8653rem;
  height: 1.5416rem;
  position: absolute;
  left: 3.7673rem;
  top: 24.4292rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-15-HrK .instagram-1-svgrepo-com-3-WCb {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  left: 3.925rem;
  top: 26.825rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b {
  margin: 0rem 4.75rem 9.8rem 4.65rem;
  width: calc(100% - 9.4rem);
  height: 25.7rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .rectangle-34-wHu {
  width: 22.3rem;
  height: 22.9rem;
  position: absolute;
  left: 0;
  top: 2.8rem;
  border: solid 0.3rem #51fa7b;
  box-sizing: border-box;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .ellipse-17-U2w {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 8.4rem;
  top: 0;
  border: solid 0.3rem #51fa7b;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.8rem;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .vector-z1H {
  width: 3rem;
  height: 3.6rem;
  position: absolute;
  left: 9.7rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V {
  width: 14.8rem;
  height: 11rem;
  position: absolute;
  left: 3.75rem;
  top: 7.7rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2102272246;
  text-transform: capitalize;
  color: #51fa7b;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #51fa7b;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #51fa7b;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .telephone-svgrepo-com-2-8fD {
  width: 2rem;
  height: 1.5556rem;
  position: absolute;
  left: 3rem;
  top: 21.5222rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-14-E8b .item-08060357754-rr7 {
  width: 12.2rem;
  height: 2.2rem;
  position: absolute;
  left: 5.7rem;
  top: 21.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #51fa7b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns {
  margin: 0rem 4.85rem 0rem 4.55rem;
  width: calc(100% - 9.4rem);
  height: 25.9rem;
  position: relative;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .rectangle-35-5D5 {
  width: 22.3rem;
  height: 22.9rem;
  position: absolute;
  left: 0;
  top: 3rem;
  border: solid 0.3rem #0c3436;
  box-sizing: border-box;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .ellipse-18-Qm9 {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 7.8rem;
  top: 0;
  border: solid 0.3rem #0c3436;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.8rem;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .vector-j2j {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 9.1rem;
  top: 1.3rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT {
  width: 16.5rem;
  height: 11rem;
  position: absolute;
  left: 2.95rem;
  top: 7.2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2102272797;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .item-08060357754-wY7 {
  width: 12.2rem;
  height: 2.2rem;
  position: absolute;
  left: 6.3rem;
  top: 18.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-pagemoblie-view-8n7 .auto-group-e4m1-u5m .group-13-Mns .whatsapp-128-svgrepo-com-2-qtP {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 2.9rem;
  top: 19.1rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.7rem 1.5rem;
  width: 100%;
  height: 8.1rem;
  display: flex;
  flex-direction: column;
  background-color: #b6eec4;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB {
  margin: 0rem 0rem 0.219rem 0.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB .peritia-logo-png-1-2-1RV {
  margin-right: 8.2rem;
  width: 5.7rem;
  height: 1.4808rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB .about-us-LTm {
  margin: 0rem 6.2rem 0.181rem 0rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB .auto-group-yjcs-Smh {
  margin-bottom: 0.0808rem;
  box-sizing: border-box;
  padding: 0.1rem 0.1rem 0.1rem 1.5rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  border: solid 0.3rem #ffffff;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB .auto-group-yjcs-Smh .search-ABu {
  margin-right: 4.3rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-4ox1-saB .auto-group-yjcs-Smh .auto-group-4f87-65Z {
  width: 2.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-exbr-bY7 {
  margin: 0rem 16.2rem 0.815rem 0rem;
  width: calc(100% - 16.2rem);
  height: 2.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-exbr-bY7 .skills-made-simple-success-amplified-KDD {
  margin-right: 5.7rem;
  max-width: 7.2rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-exbr-bY7 .auto-group-dfhd-pvf {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-exbr-bY7 .auto-group-dfhd-pvf .terms-of-service-nMh {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-exbr-bY7 .auto-group-dfhd-pvf .privacy-policy-JL3 {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .facebook-svgrepo-com-3-kSw {
  margin: 0rem 0.237rem 0.463rem 0rem;
  width: 1.2224rem;
  height: 1.2224rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .youtube-svgrepo-com-3-GgB {
  margin: 0rem 0.337rem 0.463rem 0rem;
  width: 1.2224rem;
  height: 1.2224rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .vector-C43 {
  margin: 0rem 0.299rem 0.463rem 0rem;
  width: 1.2224rem;
  height: 1.2224rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .telegram-communication-chat-interaction-network-connection-svgrepo-com-3-vVq {
  margin: 0rem 0.515rem 0.16rem 0rem;
  width: 1.1192rem;
  height: 0.9249rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .instagram-1-svgrepo-com-3-Dzj {
  margin: 0rem 22.475rem 0.16rem 0rem;
  width: 1.05rem;
  height: 1.05rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-pagemoblie-view-8n7 .auto-group-be4t-xTD .auto-group-xngt-cLj .copyright-2024-wfq {
  margin-top: 0.8849rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
