
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.landing-pagemoblie-view-8n7 {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-qswq-yXq {
    height: 84.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    width: 100%;

    .auto-group-zc6f-66f {
      width: 49.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 6.7rem;

      .auto-group-h5et-omm {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 4.458rem 3rem 4.9rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-s97h-XBy {
          margin-bottom: 1.3043rem;
          width: 100%;
          height: 45.5957rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-34-Ro9 {
            width: 37.5rem;
            height: 41.1rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #b6eec4;
            border-radius: 3rem;
          }
          .peritia-endeavors-to-support-the-growth-and-improvement-of-diverse-skills-in-its-users-through-the-provision-of-activities-that-demand-particular-expertise-or-knowledge-it-aims-to-inspire-individuals-to-acquire-fresh-skills-enhance-existing-ones-and-accumulate-valuable-experience-DcX {
            font-size: 1.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 27.5rem;
            left: 1.8rem;
            top: 12.8rem;
            font-weight: 400;
            color: #ffffff;
            height: 17.5rem;
            position: absolute;
          }
          .item-71407393516835-2-98o {
            position: absolute;
            left: 17.1402rem;
            top: 24.139rem;
            object-fit: contain;
            vertical-align: top;
            width: 22.0017rem;
            height: 21.4567rem;
          }
          .rectangle-39-dJs {
            box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.150000006);
            background-color: #51fa7b;
            border-radius: 1.2rem;
            width: 11.5rem;
            height: 3.8rem;
            position: absolute;
            left: 2.2rem;
            top: 32.1rem;
          }
          .rectangle-35-i5R {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            width: 40.1rem;
            height: 6.7rem;
          }
          .ellipse-19-rSX {
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 3.7rem;
            height: 3.8rem;
            position: absolute;
            left: 1.7rem;
          }
          .rectangle-36-nqy {
            top: 1.8rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 1.6rem;
            height: 0.3rem;
            position: absolute;
            left: 2.8rem;
          }
          .rectangle-37-iUj {
            position: absolute;
            left: 2.8rem;
            top: 2.5rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 1.6rem;
            height: 0.2rem;
          }
          .rectangle-38-r59 {
            position: absolute;
            left: 2.8rem;
            top: 3.2rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 1.6rem;
            height: 0.3rem;
          }
          .peritia-logo-icon-1-2-BNK {
            width: 1.9rem;
            height: 2.2rem;
            position: absolute;
            left: 33.4rem;
            top: 1.4rem;
            object-fit: cover;
            vertical-align: top;
          }
          .get-started-Vto {
            width: 9.3rem;
            height: 2rem;
            position: absolute;
            left: 3.5rem;
            white-space: nowrap;
            top: 33.1rem;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .our-services-bB9 {
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0.242rem 1.2rem 0rem;
          font-size: 1.8rem;
          font-weight: 800;
          line-height: 1.2125;
          text-transform: capitalize;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .our-aim-is-to-provide-services-that-allow-user-to-discover-their-hidden-potential-gyH {
          max-width: 27rem;
          line-height: 1.2125;
          margin-right: 0.3419rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
        }
      }
      .auto-group-hfmm-ANf {
        width: 100%;
        height: 28.2rem;
        position: relative;
        flex-shrink: 0;

        .ellipse-20-t3m {
          height: 13.4rem;
          position: absolute;
          left: 30.5rem;
          top: 9.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 13.1rem;
        }
        .ellipse-21-1PH {
          width: 13.1rem;
          height: 13.4rem;
          position: absolute;
          left: 12.2rem;
          top: 3.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-22-Y8K {
          height: 13.4rem;
          position: absolute;
          left: 0;
          top: 9.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 13.1rem;
        }
        .rectangle-44-HLo {
          position: absolute;
          left: 12.5rem;
          top: 15.4rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
          background-color: #ffffff;
          border-radius: 1.2rem;
          width: 12.6rem;
          height: 12.8rem;
        }
        .item-194668106134223-1-mmm {
          vertical-align: top;
          width: 9.5241rem;
          height: 8.4652rem;
          position: absolute;
          left: 13.988rem;
          top: 17.0438rem;
          object-fit: contain;
        }
        .rectangle-45-gNw {
          top: 0.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
          background-color: #ffffff;
          border-radius: 1.2rem;
          width: 12.6rem;
          height: 12.8rem;
          position: absolute;
          left: 20.4rem;
        }
        .item-91480184086495-1-ycw {
          height: 8.5222rem;
          position: absolute;
          left: 21.7704rem;
          top: 0.0494rem;
          object-fit: contain;
          vertical-align: top;
          width: 10.043rem;
        }
        .e-book-store-HNj {
          font-size: 1.4rem;
          font-weight: 500;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          left: 22.5rem;
          text-align: center;
          line-height: 1.2125;
          width: 8.9rem;
          position: absolute;
          top: 9.4rem;
        }
        .rectangle-46-nKV {
          border-radius: 1.2rem;
          width: 12.6rem;
          height: 12.8rem;
          position: absolute;
          left: 4.8rem;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
          background-color: #ffffff;
        }
        .item-229088866736637-1-65H {
          vertical-align: top;
          width: 9.7944rem;
          height: 8.1861rem;
          position: absolute;
          left: 6.6528rem;
          top: 1.0022rem;
          object-fit: contain;
        }
        .skill-acquisition-cJX {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.4rem;
          height: 1.7rem;
          top: 9.7rem;
          font-weight: 500;
          line-height: 1.2125;
          position: absolute;
          left: 5.5rem;
          text-align: center;
          font-size: 1.4rem;
        }
      }
    }
    .ellipse-17-hqm {
      margin-bottom: 3.2rem;
      width: 34.2rem;
      height: 35.9rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .bazaar-SYT {
    line-height: 1.2125;
    color: #000000;
    margin: 0rem 0rem 0.9rem 0.4rem;
    text-align: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .learning-and-skill-development-enhance-life-while-marketplaces-connect-buyers-and-sellers-publishers-thrive-with-peritias-platform-Ltj {
    flex-shrink: 0;
    margin: 0rem 0rem 2.5rem 1.4rem;
    max-width: 29.7rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    text-align: center;
    line-height: 1.2125;
  }
  .auto-group-vfej-Ps1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.2rem 2.5rem 1.9rem 2.35rem;
    align-items: center;
    display: flex;
    background-color: #b6eec4;
    width: 100%;
    flex-direction: column;
    border-radius: 4.2rem;

    .explore-our-digital-skills-Jj5 {
      margin: 0rem 0rem 1.7rem 0.25rem;
      font-size: 1.4rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 800;
      line-height: 1.2125;
      text-transform: capitalize;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-w5sj-pBd {
      margin: 0rem 2.45rem 0.032rem 0rem;
      height: 16.668rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-8ggk-j3h {
        row-gap: 0.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 4.6rem 2.619rem 3.068rem 0rem;
        height: calc(100% - 7.668rem);

        .ellipse-17-3KH {
          flex-shrink: 0;
          margin-left: 2rem;
          width: 5rem;
          height: 5rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:1ae154caa81d9b991a073c187cd3a2316ac39555');
          background-position: center;
          border-radius: 2.5rem;
        }
        .web-development-97R {
          line-height: 1.2125;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 700;
          text-align: center;
          font-size: 0.8rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.8rem;
        }
        .you-will-learn-web-development-from-the-best-tutor-f5m {
          max-width: 7.7rem;
          text-align: center;
          font-size: 0.6rem;
          font-weight: 400;
          margin-right: 1.2rem;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .item-337566868106646-2-ZB9 {
        height: 9.8288rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 6.839rem 0.972rem 0rem 0rem;
        width: 9.8097rem;
      }
      .auto-group-4x99-GbM {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 9.068rem;
        width: 8.1rem;
        align-items: center;

        .auto-group-vs1d-1J3 {
          flex-shrink: 0;
          margin: 0rem 1.85rem 0rem 1.25rem;
          width: calc(100% - 3.1rem);
          background-color: #ffffff;
          border-radius: 2.5rem;

          .ellipse-18-LbD {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:205e5c041be06bcce79252365427787bde75a241');
            border-radius: 2.5rem;
            width: 100%;
            height: 5rem;
            background-size: 100% 100%;
          }
        }
        .graphics-ebu {
          margin: 0rem 0rem 0.1rem 0.2rem;
          font-size: 0.8rem;
          font-weight: 700;
          color: #ffffff;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.2125;
          text-transform: uppercase;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .you-will-learn-how-to-design-like-a-pro-mAj {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 8.1rem;
          text-align: center;
          font-size: 0.6rem;
        }
      }
    }
    .auto-group-egjm-fmu {
      flex-shrink: 0;
      margin: 0rem 2.5rem 0.1rem 0rem;
      display: flex;
      align-items: flex-end;

      .auto-group-nwvb-o7R {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.65rem 0.2rem 0rem;
        width: 10.3rem;
        align-items: center;

        .ellipse-17-vSw {
          height: 5rem;
          background-size: 100% 100%;
          margin: 0rem 2.25rem 0.4rem 3.05rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:fe9c48ccd822f542d2eac4e6aeafec515fd29373');
          border-radius: 2.5rem;
          flex-shrink: 0;
          width: calc(100% - 5.3rem);
        }
        .youtube-monetization-2F5 {
          font-weight: 700;
          line-height: 1.2125;
          text-transform: uppercase;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          text-align: center;
          font-size: 0.8rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .you-will-learn-web-development-from-the-best-tutor-9ab {
          max-width: 7.9rem;
          text-align: center;
          font-size: 0.6rem;
          margin-right: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .ellipse-17-rju {
        height: 5rem;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:c4a686b827e96633e76b4b90a0c31deb3e2b0787');
        border-radius: 2.5rem;
        margin-right: 2.8rem;
        width: 5rem;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }
      .auto-group-vufd-xnw {
        margin-bottom: 0.3rem;
        width: 9.2rem;
        row-gap: 0.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ellipse-17-6PM {
          border-radius: 2.5rem;
          margin: 0 2.1rem;
          height: 5rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:eb46f042ac122b29271811cfbae97774160ef7b5');
          flex-shrink: 0;
          width: calc(100% - 4.2rem);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .application-dev-c6o {
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 0.3rem;
          font-size: 0.8rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
        }
        .you-will-get-to-learn-how-to-design-mobile-app-both-android-and-ios-ivX {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 9.2rem;
          text-align: center;
          font-size: 0.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
        }
      }
    }
    .mini-importation-RK9 {
      text-align: center;
      font-size: 0.8rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 1.35rem 0.1rem 0rem;
      font-weight: 700;
      line-height: 1.2125;
      text-transform: uppercase;
      white-space: nowrap;
    }
    .auto-group-ejlf-LS7 {
      align-items: center;
      flex-shrink: 0;
      margin-left: 12.15rem;
      width: calc(100% - 12.15rem);
      height: 1.5rem;
      display: flex;

      .you-will-learn-how-to-do-mini-importation-from-an-expert-UHR {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 8.1rem;
        text-align: center;
        font-size: 0.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .auto-group-zzmy-o4o {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.7rem 0rem 0rem 9.6rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .ellipse-23-7bH {
          margin-right: 0.7rem;
          width: 0.8rem;
          height: 0.8rem;
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
        }
        .ellipse-24-FBh {
          width: 0.8rem;
          height: 0.8rem;
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
        .ellipse-25-mfq {
          width: 0.8rem;
          height: 0.8rem;
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-3awd-o6j {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 1.95rem 3.813rem 1.45rem;
    width: 100%;
    height: 62.6834rem;
    align-items: center;
    display: flex;

    .component-1-uQf {
      flex-direction: column;
      border-top: solid 0.3rem #f5f5f5;
      flex-shrink: 0;
      margin: 0rem 7.984rem 15.4rem 8.05rem;
      box-sizing: border-box;
      padding-top: 4.7606rem;
      width: calc(100% - 16.034rem);
      display: flex;

      .line-15-pGj {
        height: 0.3rem;
        background-color: #f5f5f5;
        flex-shrink: 0;
        margin: 0rem 0rem 7.539rem 0.012rem;
        width: 5.3762rem;
      }
      .auto-group-sqm1-wMM {
        display: flex;
        align-items: flex-start;
        border-top: solid 0.3rem #f5f5f5;
        flex-shrink: 0;
        margin-right: 0rem;
        box-sizing: border-box;
        padding: 0.1rem 0rem 0rem 8.9rem;
        width: calc(100% - 0rem);

        .line-16-f2T {
          width: 0.3rem;
          height: 4.7rem;
          background-color: #f5f5f5;
          flex-shrink: 0;
          margin: 0.1rem 4.2rem 0rem 0rem;
        }
        .line-14-z4j {
          width: 4.666rem;
          height: 0.3rem;
          background-color: #f5f5f5;
          flex-shrink: 0;
        }
      }
    }
    .why-peritia-is-the-best-hjq {
      font-size: 1.8rem;
      font-weight: 800;
      color: #0c3436;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 0.7rem 1.2rem 0rem;
      line-height: 1.2125;
      text-transform: capitalize;
      white-space: nowrap;
    }
    .peritia-was-established-with-a-singular-objective-to-facilitate-individuals-in-acquiring-digital-skills-and-effectively-market-their-products-and-services-to-consumers-DCP {
      margin-bottom: 2.2rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
      max-width: 34.1rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .component-2-4io {
      width: calc(100% - 8.1rem);
      background-color: #000000;
      border-radius: 1rem;
      flex-shrink: 0;
      align-items: flex-end;
      margin: 0rem 3.65rem 3.8rem 4.45rem;
      box-sizing: border-box;
      padding: 4.343rem 0.967rem 0.8rem 0.8rem;
      display: flex;

      .polygon-6-9kF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.3rem 0rem;
        width: 0.9rem;
        height: 1rem;
      }
      .auto-group-umzs-5P1 {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 0.15rem 0.3rem 0rem;

        .auto-group-rtpb-1XZ {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.894rem 5.03rem 0rem;
          width: 2.9478rem;
          height: 3.7267rem;
          position: relative;
          object-fit: contain;
        }
        .auto-group-e2a7-Y1h {
          vertical-align: top;
          flex-shrink: 0;
          width: 15.4rem;
          height: 0.7rem;
          position: relative;
          object-fit: contain;
        }
      }
      .item-00-00-51d {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 0.8rem;
        color: #fbfbfb;
        text-transform: uppercase;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 0.25rem 0.1rem 0rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .ellipse-18-NmR {
        height: 0.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        width: 0.4rem;
      }
      .rectangle-35-vY3 {
        background-color: #ff0000;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 0.9rem 0.5rem 0rem;
        width: 1.3rem;
        height: 0.3rem;
      }
      .auto-group-kxcf-T2B {
        margin-right: 0.3667rem;
        width: 1.2rem;
        height: 1.3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .enlarge-svgrepo-com-3-Bym {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.4167rem;
        width: 0.5667rem;
        height: 0.6667rem;
      }
    }
    .faq-VzT {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 800;
      line-height: 1.2125;
      color: #0c3436;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 0rem 1.2rem 0.5rem;
      font-size: 1.8rem;
      text-transform: capitalize;
    }
    .we-are-aware-that-you-may-have-inquiries-youd-like-to-pose-to-us-here-youll-find-a-compilation-of-commonly-asked-questions-p19 {
      max-width: 28.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      flex-shrink: 0;
      margin: 0rem 0rem 7rem 1.6rem;
      text-align: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-aayh-GNw {
      margin: 0rem 2.35rem 0rem 3.55rem;
      width: calc(100% - 5.9rem);
      height: 9.5703rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-34-Nwm {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 9.8rem;
        height: 9.4rem;
        position: absolute;
      }
      .rectangle-35-uwh {
        left: 9.5rem;
        top: 0;
        background-color: #b6eec4;
        border-radius: 1.2rem;
        width: 18.7rem;
        height: 9.4rem;
        position: absolute;
      }
      .how-do-i-register-as-a-user-on-peritia-FVm {
        text-align: center;
        font-size: 0.8rem;
        width: 14.8rem;
        top: 1.1rem;
        left: 10.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1rem;
        position: absolute;
      }
      .you-can-join-by-completing-the-sign-up-process-on-our-website-and-youll-be-on-the-path-to-mastering-one-or-more-skill-sets-of-your-preference-M31 {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 16.9rem;
        height: 3.9rem;
        position: absolute;
        font-size: 0.8rem;
        left: 10.8rem;
        top: 3rem;
      }
      .flag-for-flag-nigeria-svgrepo-com-2-bi3 {
        object-fit: contain;
        vertical-align: top;
        width: 3.3332rem;
        height: 2.4074rem;
        position: absolute;
        left: 7.8rem;
        top: 7.1629rem;
      }
      .chijioke-adegoke-inf {
        height: 0.8rem;
        position: absolute;
        left: 22.4rem;
        font-size: 0.6rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        width: 5rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        top: 8rem;
      }
    }
  }
  .auto-group-gw2k-1Ws {
    width: 100%;
    height: 39.4086rem;
    position: relative;
    flex-shrink: 0;

    .line-17-jSs {
      vertical-align: top;
      width: 40.4063rem;
      height: 25.0473rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
    }
    .line-18-gN7 {
      width: 41.4076rem;
      height: 25.592rem;
      position: absolute;
      left: 0;
      top: 4.3166rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-19-cWf {
      left: 0;
      top: 9.4166rem;
      object-fit: contain;
      vertical-align: top;
      width: 41.4076rem;
      height: 25.592rem;
      position: absolute;
    }
    .line-20-xaX {
      object-fit: contain;
      vertical-align: top;
      width: 41.4076rem;
      height: 25.592rem;
      position: absolute;
      left: 0;
      top: 13.8166rem;
    }
    .rectangle-35-ho1 {
      top: 4.1166rem;
      background-color: #b6eec4;
      border-radius: 1.2rem;
      width: 18.7rem;
      height: 9.4rem;
      position: absolute;
      left: 14.5rem;
    }
    .rectangle-34-Enw {
      object-fit: cover;
      vertical-align: top;
      width: 9.8rem;
      height: 9.4rem;
      position: absolute;
      left: 5rem;
      top: 4.4166rem;
    }
    .flag-for-flag-ghana-svgrepo-com-2-aM1 {
      height: 2.4071rem;
      position: absolute;
      left: 13.5rem;
      top: 11.7795rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.333rem;
    }
    .coupon-codes-are-essential-during-the-registration-process-to-activate-accounts-on-peritia-granting-users-access-to-all-functionalities-available-on-the-website-6KM {
      width: 15.7rem;
      height: 3.9rem;
      position: absolute;
      top: 7.1166rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      left: 15.9rem;
      font-size: 0.8rem;
      font-weight: 400;
    }
    .what-are-coupon-code-used-for-LUb {
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 1rem;
      position: absolute;
      top: 5.5166rem;
      text-align: center;
      width: 12.8rem;
      left: 15.9rem;
      font-size: 0.8rem;
      white-space: nowrap;
    }
    .kwame-adu-boateng-puZ {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 26.6rem;
      top: 12.2166rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 5.9rem;
      height: 0.8rem;
      font-size: 0.6rem;
    }
    .rectangle-35-vxb {
      width: 18.6rem;
      height: 9.4rem;
      position: absolute;
      left: 14.5rem;
      top: 22.5166rem;
      background-color: #b6eec4;
      border-radius: 1.2rem;
    }
    .rectangle-34-TxX {
      height: 9.4rem;
      position: absolute;
      left: 5.4rem;
      top: 22.2166rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.1rem;
    }
    .what-type-of-skills-are-available-PrB {
      width: 13rem;
      height: 1rem;
      top: 23.2166rem;
      font-size: 0.8rem;
      color: #ffffff;
      white-space: nowrap;
      position: absolute;
      left: 15.7rem;
      text-align: center;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .on-peritia-we-currently-offer-a-variety-of-10-active-skills-covering-a-range-from-website-development-and-graphics-design-to-ui-ux-design-and-much-more-you-can-explore-additional-details-on-your-user-dashboard-account-where-the-available-skill-sets-are-displayed-HRm {
      top: 24.5166rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 16rem;
      height: 6.8rem;
      position: absolute;
      left: 15.8rem;
      font-size: 0.8rem;
    }
    .mireille-ngong-H4P {
      height: 0.8rem;
      left: 27.7rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      position: absolute;
      top: 30.9166rem;
      font-size: 0.6rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .flag-for-flag-cameroon-svgrepo-com-2-o2j {
      width: 3.333rem;
      height: 2.4072rem;
      position: absolute;
      left: 12.8rem;
      top: 30.3795rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .auto-group-e4m1-u5m {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.241rem 2.85rem 5.2rem 2.95rem;
    width: 100%;

    .group-12-cVy {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.55rem 8.4rem 2.85rem;
      width: calc(100% - 4.4rem);
      height: 10.633rem;

      .rectangle-34-j4o {
        width: 9.1rem;
        height: 9.4rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-35-4sm {
        left: 8.7rem;
        top: 0.1rem;
        background-color: #b6eec4;
        border-radius: 1.2rem;
        width: 18.6rem;
        height: 9.4rem;
        position: absolute;
      }
      .what-steps-should-i-take-to-be-eligible-for-skills-courses-BxP {
        height: 2rem;
        position: absolute;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        width: 15rem;
        left: 10rem;
        top: 1.4rem;
        font-size: 0.8rem;
        font-weight: 800;
      }
      .given-the-high-costs-associated-with-acquiring-skills-on-different-platforms-weve-reduced-it-to-a-single-payment-of-5-tbu {
        width: 15.1rem;
        position: absolute;
        font-size: 0.8rem;
        height: 3.9rem;
        left: 9.9rem;
        top: 3.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .south-africa-svgrepo-com-2-wq5 {
        vertical-align: top;
        width: 3.333rem;
        height: 2.1837rem;
        position: absolute;
        left: 7rem;
        top: 7.8747rem;
        object-fit: contain;
      }
      .thabo-ndlovu-4uh {
        white-space: nowrap;
        width: 4rem;
        position: absolute;
        left: 22rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 0.8rem;
        top: 8.1rem;
        font-size: 0.6rem;
      }
    }
    .auto-group-fhvj-Axj {
      margin: 0rem 1.05rem 5.03rem 2.55rem;
      width: calc(100% - 3.6rem);
      height: 9.8041rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-34-5po {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 9.8rem;
        height: 9.4rem;
        position: absolute;
        left: 0;
      }
      .rectangle-35-2k3 {
        border-radius: 1.2rem;
        width: 18.7rem;
        height: 9.4rem;
        position: absolute;
        left: 9.4rem;
        top: 0.034rem;
        background-color: #b6eec4;
      }
      .is-it-possible-for-me-to-release-and-market-an-ebook-on-peritia-ZV5 {
        color: #ffffff;
        position: absolute;
        font-size: 0.8rem;
        font-weight: 800;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 13.6rem;
        height: 2rem;
        left: 10.5rem;
        top: 0.534rem;
      }
      .absolutely-each-peritia-user-has-the-opportunity-to-freely-publish-their-own-e-book-on-our-platform-F71 {
        left: 10.4rem;
        font-size: 0.8rem;
        font-weight: 400;
        width: 14.5rem;
        position: absolute;
        top: 3.234rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
      }
      .flag-for-flag-kenya-svgrepo-com-2-iWP {
        top: 7.3969rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.333rem;
        height: 2.4072rem;
        position: absolute;
        left: 8.1rem;
      }
      .safari-nyambura-3Hm {
        height: 0.8rem;
        top: 8.034rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 4.8rem;
        position: absolute;
        left: 22.3rem;
        font-size: 0.6rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
    .connect-with-us-9Lo {
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      margin: 0rem 0.8rem 1.2rem 0rem;
      font-size: 1.8rem;
      font-weight: 800;
      text-transform: capitalize;
      color: #0c3436;
    }
    .feel-free-to-contact-us-through-any-of-the-following-channels-for-quick-and-convenient-assistance-whether-you-prefer-email-phone-calls-or-social-media-we-are-readily-accessible-to-address-your-inquiries-and-provide-support-rm1 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      max-width: 31.7rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
    }
    .group-15-HrK {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 4.75rem 9.8rem 4.65rem;
      width: calc(100% - 9.4rem);
      height: 31rem;

      .rectangle-34-CiP {
        height: 28.2rem;
        position: absolute;
        left: 0;
        top: 2.8rem;
        border: solid 0.3rem #0c3436;
        box-sizing: border-box;
        width: 22.3rem;
      }
      .ellipse-17-86F {
        width: 5.6rem;
        height: 5.6rem;
        left: 8.2rem;
        box-sizing: border-box;
        border-radius: 2.8rem;
        position: absolute;
        top: 0;
        border: solid 0.3rem #0c3436;
        background-color: #ffffff;
      }
      .vector-doh {
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 2.6rem;
        position: absolute;
        left: 9.5rem;
        top: 1.5rem;
      }
      .you-can-connect-us-by-messaging-us-on-our-social-media-muu {
        position: absolute;
        left: 3.8rem;
        font-weight: 400;
        text-transform: capitalize;
        font-family: Inter, 'Source Sans Pro';
        width: 14.8rem;
        height: 8.8rem;
        top: 7.2rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2102272246;
        color: #0c3436;

        .you-can-connect-us-by-messaging-us-on-our-social-media-muu-sub-0 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
        }
        .you-can-connect-us-by-messaging-us-on-our-social-media-muu-sub-1 {
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
        }
      }
      .facebook-svgrepo-com-3-DYw {
        left: 3.6rem;
        top: 15.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
      .peritiaofficial-wjq {
        text-align: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 7.4rem;
        left: 7.9rem;
        top: 16.1rem;
        font-weight: 400;
        color: #0c3436;
        white-space: nowrap;
        height: 1.5rem;
        position: absolute;
        font-size: 1.2rem;
      }
      .peritiaofficial-4Jf {
        color: #0c3436;
        font-family: Inter, 'Source Sans Pro';
        height: 1.5rem;
        position: absolute;
        left: 7.9rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 7.4rem;
        top: 18.8rem;
        text-align: center;
        font-size: 1.2rem;
        white-space: nowrap;
      }
      .peritiaofficial-AsV {
        height: 1.5rem;
        left: 7.9rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        width: 7.4rem;
        position: absolute;
        top: 21.8rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2125;
        color: #0c3436;
        white-space: nowrap;
      }
      .peritiaofficial-6FM {
        position: absolute;
        top: 24.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.4rem;
        height: 1.5rem;
        left: 7.9rem;
        text-align: center;
        line-height: 1.2125;
        color: #0c3436;
      }
      .peritiaofficial-cDh {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.5rem;
        position: absolute;
        color: #0c3436;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 7.4rem;
        left: 7.9rem;
        top: 26.9rem;
      }
      .youtube-svgrepo-com-3-Kto {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 3.7rem;
        top: 18.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-FnT {
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 3.8rem;
        top: 21.4rem;
        object-fit: contain;
      }
      .telegram-communication-chat-interaction-network-connection-svgrepo-com-3-CBu {
        top: 24.4292rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8653rem;
        height: 1.5416rem;
        position: absolute;
        left: 3.7673rem;
      }
      .instagram-1-svgrepo-com-3-WCb {
        width: 1.75rem;
        height: 1.75rem;
        position: absolute;
        left: 3.925rem;
        top: 26.825rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .group-14-E8b {
      flex-shrink: 0;
      margin: 0rem 4.75rem 9.8rem 4.65rem;
      width: calc(100% - 9.4rem);
      height: 25.7rem;
      position: relative;

      .rectangle-34-wHu {
        border: solid 0.3rem #51fa7b;
        box-sizing: border-box;
        width: 22.3rem;
        height: 22.9rem;
        position: absolute;
        left: 0;
        top: 2.8rem;
      }
      .ellipse-17-U2w {
        position: absolute;
        left: 8.4rem;
        top: 0;
        border: solid 0.3rem #51fa7b;
        box-sizing: border-box;
        width: 5.6rem;
        height: 5.6rem;
        background-color: #ffffff;
        border-radius: 2.8rem;
      }
      .vector-z1H {
        top: 1rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 3.6rem;
        position: absolute;
        left: 9.7rem;
      }
      .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V {
        font-weight: 400;
        line-height: 1.2102272246;
        text-transform: capitalize;
        color: #51fa7b;
        height: 11rem;
        font-size: 1.8rem;
        left: 3.75rem;
        top: 7.7rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        width: 14.8rem;
        position: absolute;

        .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V-sub-0 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #51fa7b;
          font-family: Inter, 'Source Sans Pro';
        }
        .you-can-connect-to-our-customer-service-through-a-call-24-7-service-87V-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #51fa7b;
        }
      }
      .telephone-svgrepo-com-2-8fD {
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 1.5556rem;
        position: absolute;
        left: 3rem;
        top: 21.5222rem;
      }
      .item-08060357754-rr7 {
        left: 5.7rem;
        top: 21.1rem;
        font-size: 1.8rem;
        color: #51fa7b;
        white-space: nowrap;
        height: 2.2rem;
        position: absolute;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 12.2rem;
      }
    }
    .group-13-Mns {
      margin: 0rem 4.85rem 0rem 4.55rem;
      width: calc(100% - 9.4rem);
      height: 25.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-35-5D5 {
        box-sizing: border-box;
        width: 22.3rem;
        height: 22.9rem;
        position: absolute;
        left: 0;
        top: 3rem;
        border: solid 0.3rem #0c3436;
      }
      .ellipse-18-Qm9 {
        width: 5.6rem;
        border: solid 0.3rem #0c3436;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 2.8rem;
        height: 5.6rem;
        position: absolute;
        left: 7.8rem;
        top: 0;
      }
      .vector-j2j {
        top: 1.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 9.1rem;
      }
      .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT {
        width: 16.5rem;
        height: 11rem;
        left: 2.95rem;
        top: 7.2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.2102272797;
        text-transform: capitalize;
        color: #0c3436;

        .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT-sub-0 {
          line-height: 1.2125;
          text-transform: capitalize;
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
        }
        .you-can-chat-with-a-customer-service-and-get-and-instant-reply-any-time-GYT-sub-1 {
          text-transform: capitalize;
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .item-08060357754-wY7 {
        width: 12.2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 1.8rem;
        color: #0c3436;
        white-space: nowrap;
        height: 2.2rem;
        position: absolute;
        left: 6.3rem;
        top: 18.9rem;
      }
      .whatsapp-128-svgrepo-com-2-qtP {
        left: 2.9rem;
        top: 19.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
        position: absolute;
      }
    }
  }
  .auto-group-be4t-xTD {
    width: 100%;
    height: 8.1rem;
    display: flex;
    flex-direction: column;
    background-color: #b6eec4;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.7rem 1.5rem;

    .auto-group-4ox1-saB {
      margin: 0rem 0rem 0.219rem 0.1rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .peritia-logo-png-1-2-1RV {
        flex-shrink: 0;
        margin-right: 8.2rem;
        width: 5.7rem;
        height: 1.4808rem;
        object-fit: cover;
        vertical-align: top;
      }
      .about-us-LTm {
        margin: 0rem 6.2rem 0.181rem 0rem;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 0.8rem;
        line-height: 1.2125;
        color: #0c3436;
        white-space: nowrap;
      }
      .auto-group-yjcs-Smh {
        border-radius: 0.5rem;
        flex-shrink: 0;
        height: 1.7rem;
        display: flex;
        align-items: center;
        border: solid 0.3rem #ffffff;
        margin-bottom: 0.0808rem;
        box-sizing: border-box;
        padding: 0.1rem 0.1rem 0.1rem 1.5rem;
        background-color: #ffffff;

        .search-ABu {
          flex-shrink: 0;
          margin-right: 4.3rem;
          font-size: 1rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          color: #000000;
        }
        .auto-group-4f87-65Z {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.5rem;
          height: 1.5rem;
        }
      }
    }
    .auto-group-exbr-bY7 {
      height: 2.4rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 16.2rem 0.815rem 0rem;
      width: calc(100% - 16.2rem);

      .skills-made-simple-success-amplified-KDD {
        margin-right: 5.7rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0c3436;
        font-family: Inter, 'Source Sans Pro';
        max-width: 7.2rem;
        text-align: center;
        flex-shrink: 0;
      }
      .auto-group-dfhd-pvf {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .terms-of-service-nMh {
          margin-bottom: 0.4rem;
          text-align: center;
          font-size: 0.8rem;
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
        }
        .privacy-policy-JL3 {
          white-space: nowrap;
          margin-right: 0.1rem;
          text-align: center;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #0c3436;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .auto-group-xngt-cLj {
      margin-left: 0.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .facebook-svgrepo-com-3-kSw {
        flex-shrink: 0;
        margin: 0rem 0.237rem 0.463rem 0rem;
        width: 1.2224rem;
        height: 1.2224rem;
        object-fit: contain;
        vertical-align: top;
      }
      .youtube-svgrepo-com-3-GgB {
        margin: 0rem 0.337rem 0.463rem 0rem;
        width: 1.2224rem;
        height: 1.2224rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-C43 {
        width: 1.2224rem;
        height: 1.2224rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.299rem 0.463rem 0rem;
      }
      .telegram-communication-chat-interaction-network-connection-svgrepo-com-3-vVq {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.515rem 0.16rem 0rem;
        width: 1.1192rem;
        height: 0.9249rem;
      }
      .instagram-1-svgrepo-com-3-Dzj {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 22.475rem 0.16rem 0rem;
        width: 1.05rem;
        height: 1.05rem;
        position: relative;
        object-fit: contain;
      }
      .copyright-2024-wfq {
        font-size: 0.6rem;
        color: #0c3436;
        flex-shrink: 0;
        margin-top: 0.8849rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
