
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-in-desktop-6su {
  background-color: #ffffff;
  width: 100%;
  height: 126.1rem;
  position: relative;
  overflow: hidden;

  .rectangle-48-aYB {
    top: 0;
    background-color: #b6eec4;
    border-radius: 0 17.8rem 0 0;
    width: 64.5rem;
    height: 126.1rem;
    position: absolute;
    left: 79.5rem;
  }
  .rectangle-49-h71 {
    height: 6.7rem;
    position: absolute;
    left: 103.7rem;
    top: 56.4rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 21.2rem;
  }
  .sign-up-Db9 {
    top: 58.1rem;
    text-align: center;
    text-transform: uppercase;
    color: #455a64;
    white-space: nowrap;
    height: 3.4rem;
    position: absolute;
    left: 108.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 11.3rem;
    font-size: 2.8rem;
    font-weight: 900;
  }
  .experience-a-life-transformation-by-sign-up-with-us-today-uis {
    width: 45.1rem;
    top: 39.7rem;
    text-align: center;
    font-weight: 900;
    color: #2a373e;
    font-family: Inter, 'Source Sans Pro';
    height: 14.6rem;
    position: absolute;
    left: 90.65rem;
    font-size: 4rem;
    line-height: 1.2125;
    font-style: italic;
  }
  .or-CCB {
    color: #000000;
    width: 3.1rem;
    height: 3.9rem;
    top: 82.6rem;
    text-align: center;
    font-size: 3.2rem;
    line-height: 1.2125;
    position: absolute;
    left: 39rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-62-JW7 {
    border-radius: 1rem;
    width: 58rem;
    height: 8.4rem;
    position: absolute;
    left: 11.9rem;
    top: 92.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #51fa7b;
  }
  .login-with-gmail-1fR {
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    height: 3.9rem;
    left: 33.2rem;
    font-size: 3.2rem;
    text-align: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 26rem;
    position: absolute;
    top: 95.4rem;
  }
  .back-svgrepo-com-1-7iT {
    position: absolute;
    left: 13.0808rem;
    top: 6.0122rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.8942rem;
    height: 4.3756rem;
  }
  .page-1-FJs {
    position: absolute;
    left: 24.5rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.8rem;
    height: 3.6272rem;
  }
  .home-z1Z {
    position: absolute;
    top: 6.1rem;
    text-align: center;
    line-height: 1.2125;
    white-space: nowrap;
    width: 9.2rem;
    left: 30.4rem;
    font-size: 3.2rem;
    font-weight: 700;
    color: #0c3436;
    font-family: Inter, 'Source Sans Pro';
    height: 3.9rem;
  }
  .peritia-logo-png-1-3-hAs {
    height: 6.7rem;
    position: absolute;
    left: 30.4rem;
    top: 18.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 23.4rem;
  }
  .please-enter-the-correct-details-pFV {
    width: 35.5rem;
    text-align: center;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 400;
    color: #2a373e;
    height: 3rem;
    position: absolute;
    left: 24.4rem;
    top: 28rem;
    font-size: 2.4rem;
  }
  .rectangle-50-i5y {
    top: 37.5rem;
    border: solid 0.1rem #2a373e;
    box-sizing: border-box;
    border-radius: 0.5rem;
    width: 58rem;
    height: 4.2rem;
    position: absolute;
    left: 11.8rem;
  }
  .username-or-email-SGs {
    position: absolute;
    left: 12.1rem;
    top: 38.6rem;
    text-align: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 16rem;
  }
  .rectangle-51-Lt3 {
    width: 58rem;
    height: 4.2rem;
    position: absolute;
    left: 11.9rem;
    top: 48.3rem;
    border: solid 0.1rem #2a373e;
    box-sizing: border-box;
    border-radius: 0.5rem;
  }
  .password-4p3 {
    color: #000000;
    width: 8.3rem;
    left: 13.2rem;
    top: 49.4rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.2125;
    height: 2.2rem;
    position: absolute;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .line-21-PLX {
    top: 84.85rem;
    background-color: #2a373e;
    width: 25.7049rem;
    height: 0.2rem;
    position: absolute;
    left: 11.7976rem;
  }
  .line-22-7nK {
    height: 0.2rem;
    position: absolute;
    left: 44.0976rem;
    top: 84.85rem;
    background-color: #2a373e;
    width: 25.7049rem;
  }
  .gmail-svgrepo-com-1-FtX {
    width: 4.375rem;
    height: 4.375rem;
    position: absolute;
    left: 26.7125rem;
    top: 95.1125rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-62-z5R {
    height: 2.1rem;
    position: absolute;
    left: 11.6rem;
    top: 57.7rem;
    border: solid 0.1rem #2a373e;
    box-sizing: border-box;
    width: 2.1rem;
  }
  .keep-on-logged-in-K7h {
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 18.6rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    position: absolute;
    left: 15.3rem;
    top: 57.4rem;
  }
  .forget-password-RAj {
    top: 56.9rem;
    font-weight: 400;
    line-height: 1.2125;
    text-transform: capitalize;
    white-space: nowrap;
    width: 17rem;
    height: 2.5rem;
    left: 52.6rem;
    color: #51fa7b;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    text-align: center;
    font-size: 2rem;
  }
  .sign-up-rafiki-1-v7V {
    height: 69.8923rem;
    position: absolute;
    left: 62.3rem;
    top: 57.918rem;
    object-fit: contain;
    vertical-align: top;
    width: 92.7rem;
  }
  .rectangle-65-e3V {
    position: absolute;
    left: 11.9rem;
    top: 67rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #51fa7b;
    border-radius: 1rem;
    width: 58rem;
    height: 8.4rem;
  }
  .sign-in-w2b {
    font-size: 3.2rem;
    font-weight: 700;
    width: 10.6rem;
    position: absolute;
    left: 35.6rem;
    text-align: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3.9rem;
    top: 69.2rem;
    line-height: 1.2125;
    color: #ffffff;
  }
}
