/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: auto;
  }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
    width: 100%;
    margin: 0;
  }
}
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.verify-code-desktop-7YP {
  box-sizing: border-box;
  padding: 6rem 10.784rem 41.142rem 12.95rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.verify-code-desktop-7YP .auto-group-cg4b-y4o {
  margin: 0rem 0rem 24.337rem 0.131rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-cg4b-y4o .back-svgrepo-com-1-5dd {
  margin: 0.012rem 5.525rem 0rem 0rem;
  width: 5.8942rem;
  height: 4.3756rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-cg4b-y4o .page-1-P8X {
  margin-right: 2.1rem;
  width: 3.8rem;
  height: 3.6272rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-cg4b-y4o .home-7KR {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0c3436;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 {
  width: 100%;
  height: 50.233rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 .auto-group-gtaf-MUf {
  margin: 6.075rem 9.736rem 13.958rem 0rem;
  width: 58.35rem;
  height: calc(100% - 20.033rem);
  flex-shrink: 0;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 .auto-group-gtaf-MUf .verify-coupon-code-fkF {
  margin-bottom: 4.5rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-style: italic;
  color: #2a373e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 .auto-group-gtaf-MUf .auto-group-tbat-aMR {
  margin: 0rem 0.2rem 8.2rem 0.15rem;
  box-sizing: border-box;
  padding: 1.1rem 0.75rem 0.9rem 0.75rem;
  width: calc(100% - 0.35rem);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #2a373e;
  border-radius: 0.5rem;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 .auto-group-gtaf-MUf .auto-group-imzd-Cdh {
  margin-left: 0.35rem;
  width: 58rem;
  height: 8.4rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #51fa7b;
  border-radius: 1rem;
}
.verify-code-desktop-7YP .auto-group-wbfq-oi3 .verified-pana-1-dj1 {
  width: 52.1798rem;
  height: 50.233rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
